@model UserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h3 class="text-center">User Information</h3>

<div class="row">
    <div class="col-sm-3">
        <img src="@Model.Picture" style="width:100%;height:100%" />
    </div>
    <div class="col-sm-9">
        <table class="table table-bordered table-striped">
            <tr>
                <th>User Name</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>E-Mail</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <th>Birth Date</th>
                <td>@Model.BirthDate?.ToShortDateString()</td>
            </tr>
            <tr>
                <th>City</th>
                <td>
                    @if (!string.IsNullOrEmpty(Model.CityName))
                    {
                        @Model.CityName
                    }
                </td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>
                    @switch (Model.Gender)
                    {
                        case Gender.Unspecified:
                            <span>Belirtilmemiş</span>
                            break;
                        case Gender.Male:
                            <span>Erkek</span>
                            break;
                        case Gender.Female:
                            <span>Kadın</span>
                            break;
                    }
                </td>
            </tr>
        </table>
    </div>
</div>